.header-color{
    background: #1E9600;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}
.center{
    text-align: center;
}
.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lists-nodecor{
    list-style: none;
}
h2{
    text-align: center;
}
.BannerText{
    padding-top: 10%;
}
.sociallinksfooter a{
    padding-right: 5%;
}